@media(width: 2560px){
    .father .first-child h1{
        font-size: 50px;
        padding-bottom: 18px;
    }
    
    .father .first-child p{
        font-size: 25px;
    }

    .second-child{
        width: 540px;
        height: 578px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .campo{
        width: 498px;
        font-size: 20px;
        margin-bottom: 24px;
    }

    .second-child .campo-de-digitacao{
        height: 55px;
    }

    .second-child .message{
        height: 250px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .second-child .required-field{
        font-size: 22px;
        margin-bottom: 25px;
    }

    .second-child .button{
        width: 498px;
        height: 61px; 
        font-size: 25px;
    }

    .campo.error{
        border: 1px solid var(--cor-borda-input-errado);
        margin-bottom: 0;
    }

    .message.error{
        display: block;
        font-size: 16px;
        font-weight: 400;
        height: 24px;
        color: var(--cor-borda-input-errado);
    }
}

@media(max-width: 770px){
    .father{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .father .first-child{
        width: 440px;
        padding-bottom: 20px;
    }
}

@media(max-width: 420px){
    body{
        min-height: 100vh;
    }

    .father{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .father .first-child{
        max-width: 400px;
    } 
}

@media(max-width: 390px){

    .second-child{
        width: 300px;
        height: 358px;
        padding: 12px;
    }

    .campo{
        width: 278px;
    }

    .second-child .button{
        width: 278px;
    }
}