body{
    width: 100%;
    height: 100vh;
    background: url(../images/bg-repeat.jpg);
    background-size: contain;
}

.father{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father .first-child{
    width: 50%;
    padding: 60px;
    color: var(--cor-do-texto);
}

.father .first-child h1{
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 11px;
}

.father .first-child p{
    font-weight: 400;
    font-size: 15px;
}

.second-child{
    width: 340px;
    height: 378px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.campo{
    width: 298px;
    border: 1px solid var(--cor-borda-input);
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 15px;
}

.second-child .campo-de-digitacao{
    height: 35px;
}

.second-child .message{
    display: none;
    font-size: 8px;
    font-weight: 400;
}

.second-child .message-text{
    margin-bottom: 7px;
}

.second-child .required-field{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.second-child .button{
    width: 298px;
    height: 41px; 
    background: var(--cor-do-botao);
    border-radius: 5px;
    color: var(--cor-do-texto);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.campo-de-digitacao:focus,
.message-text:focus{
    outline: 0;
    border: 2px solid #f0618d;
}

.campo.success{
    border: 1px solid var(--cor-borda-input-correto);
}

.campo.error{
    border: 1px solid var(--cor-borda-input-errado);
    margin-bottom: 0;
}

.message.error{
    display: block;
    font-size: 8px;
    font-weight: 400;
    color: var(--cor-borda-input-errado);
    margin-bottom: 7px;
}